.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: 'normal'
}

.contentWrapper {
    padding: 0 20px;
    min-height: 100vh;
    max-width: 1184px;
    background: #FFFFFF;
    border: 1px solid #E2E9F3;
    margin: auto;
}